<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SchemrWeb</display-name>

	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars</param-value>
	</context-param>

	<!-- Http Flex Session attribute and binding listener support -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>

	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetAllForms</display-name>
		<servlet-name>GetAllForms</servlet-name>
		<servlet-class>
		dataentry.GetAllForms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateForm</display-name>
		<servlet-name>CreateForm</servlet-name>
		<servlet-class>
		dataentry.CreateForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetFormContent</display-name>
		<servlet-name>GetFormContent</servlet-name>
		<servlet-class>
		dataentry.GetFormContent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteForm</display-name>
		<servlet-name>DeleteForm</servlet-name>
		<servlet-class>
		dataentry.DeleteForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateFormState</display-name>
		<servlet-name>UpdateFormState</servlet-name>
		<servlet-class>
		dataentry.UpdateFormState</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SubmitForm</display-name>
		<servlet-name>SubmitForm</servlet-name>
		<servlet-class>
		dataentry.SubmitForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateAnnotation</display-name>
		<servlet-name>CreateAnnotation</servlet-name>
		<servlet-class>
		dataentry.CreateAnnotation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RateAnnotation</display-name>
		<servlet-name>RateAnnotation</servlet-name>
		<servlet-class>
		dataentry.RateAnnotation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetAnnotations</display-name>
		<servlet-name>GetAnnotations</servlet-name>
		<servlet-class>
		dataentry.GetAnnotations</servlet-class>
	</servlet>
	<servlet>
		<description>
		For testing call to usher.exe</description>
		<display-name>
		TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>
		dataentry.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		Generates an image of ground truth answers</description>
		<display-name>
		TruthImage</display-name>
		<servlet-name>TruthImage</servlet-name>
		<servlet-class>
		dataentry.TruthImage</servlet-class>
	</servlet>
	<servlet>
		<description>
		Handles search requests</description>
		<display-name>
		SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>
		org.openii.schemrserver.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		Get a graph to visualize according to schema id; assume graph is cached with httpsession by id in existing search result</description>
		<display-name>
		GraphVisualizationServlet</display-name>
		<servlet-name>GraphVisualizationServlet</servlet-name>
		<servlet-class>
		org.openii.schemrserver.servlet.GraphVisualizationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		Handles an upload of an DDL or XSD schema via an existing HTTP session</description>
		<display-name>
		UploadSchemaServlet</display-name>
		<servlet-name>UploadSchemaServlet</servlet-name>
		<servlet-class>
		org.openii.schemrserver.servlet.UploadSchemaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFormContent</servlet-name>
		<url-pattern>/GetFormContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteForm</servlet-name>
		<url-pattern>/DeleteForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateFormState</servlet-name>
		<url-pattern>/UpdateFormState</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitForm</servlet-name>
		<url-pattern>/SubmitForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateAnnotation</servlet-name>
		<url-pattern>/CreateAnnotation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RateAnnotation</servlet-name>
		<url-pattern>/RateAnnotation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TruthImage</servlet-name>
		<url-pattern>/TruthImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GraphVisualizationServlet</servlet-name>
		<url-pattern>/GraphVisualizationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadSchemaServlet</servlet-name>
		<url-pattern>/UploadSchemaServlet</url-pattern>
	</servlet-mapping>

<display-name>schemrweb</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- for WebSphere deployment, please uncomment -->
	<!--
		<resource-ref>
		<description>Flex Messaging WorkManager</description>
		<res-ref-name>wm/MessagingWorkManager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	-->
</web-app>
