<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Declares the OpenII product -->
   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.mitre.openii.application" name="OpenII">
         <property name="appName" value="OpenII"></property>
      </product>
   </extension>

   <!-- Declares the OpenII application -->
   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.mitre.openii.application.OpenIIApplication"></run>
      </application>
   </extension>

   <!-- Declares the OpenII perspective -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.mitre.openii.application.OpenIIPerspective" fixed="false" icon="icons/Harmony.jpg" id="org.mitre.openii.plugin.OpenIIPerspective" name="OpenII"></perspective>
   </extension>
 
   <!-- Declares the OpenII views -->
   <extension id="application" point="org.eclipse.ui.views">
      <category name="OpenII" id="Ygg"></category>
      <view name="Repositories" icon="icons/Repositories.gif" category="OpenII" class="org.mitre.openii.views.repositories.RepositoryView" id="org.mitre.openii.views.repositories.RepositoryView"></view>
      <view name="Ygg" icon="icons/Ygg.gif" category="OpenII" class="org.mitre.openii.views.ygg.YggView" id="org.mitre.openii.views.ygg.YggView"></view>
      <view name="Search" icon="icons/Search.gif" category="OpenII" class="org.mitre.openii.views.SearchView" id="org.mitre.openii.views.SearchView"></view>
      <view name="Harmony" icon="icons/Harmony.gif" category="OpenII" class="org.mitre.openii.views.HarmonyView" id="org.mitre.openii.views.HarmonyView"></view>
   </extension>

	<!-- Declares the OpenII editors -->
   <extension point="org.eclipse.ui.editors">
      <editor name="Schema Graph" extensions="schema" icon="icons/Schema.gif" class="org.mitre.openii.editors.SchemaGraph" id="org.mitre.openii.editors.SchemaGraph"></editor>
      <editor name="Extension Graph" extensions="schema" icon="icons/Schema.gif" class="org.mitre.openii.editors.ExtensionGraph" id="org.mitre.openii.editors.ExtensionGraph"></editor>
      <view name="Unity" icon="icons/Harmony.gif" category="OpenII" class="org.mitre.openii.views.UnityView" id="org.mitre.openii.views.UnityView"></view>
   </extension>

</plugin>
