<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openii.schemr.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Schemr Search Perspective"
            class="org.openii.schemr.client.Perspective"
            id="org.openii.schemr.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Schemr Search View"
            allowMultiple="false"
            icon="icons/xmag16.png"
            class="org.openii.schemr.client.view.SearchBoxView"
            id="org.openii.schemr.client.view.searchBoxView">
      </view>
      <view
            allowMultiple="false"
            class="org.openii.schemr.client.view.ResultVizView"
            icon="icons/xeyes16.png"
            id="org.openii.schemr.client.view.resultVizView"
            name="Schemr Visualization View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Schemr"
            id="SchemrClient.category">
      </category>
      <command
            name="Search Schemas"
            description="Search for Schemas"
            categoryId="SchemrClient.category"
            id="SchemrClient.search">
      </command>
      <command
            name="Visualize Search Result"
            description="Visualize a Search Result"
            categoryId="SchemrClient.category"
            id="SchemrClient.visualizeResult">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SchemrClient.application"
            name="Schemr">
         <property
               name="aboutText"
               value="Schemr is a Schema Search tool, and is a piece of the Open Information Integration Framework.&#x0A;&#x0A;For more information about OpenII, goto code.google.com/p/openii&#x0A;&#x0A;Kuang Chen&#x0A;kuangc@gmail.com">
         </property>
         <property
               name="windowImages"
               value="icons/xeyes16.png,icons/xeyes32.png,icons/xeyes64.png,icons/xeyes128.png">
         </property>
         <property
               name="aboutImage"
               value="icons/xeyes128.png">
         </property>
         <property
               name="appName"
               value="Schemr">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openii.schemr.client.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openii.schemr.client.SchemrPreferencePage"
            id="org.openii.schemr.client.schemrPreferencePage"
            name="Schemr Preferences">
      </page>
   </extension>

</plugin>
