<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Declares the OpenII application -->
   <extension id="org.mitre.openii.application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.mitre.openii.application.OpenIIApplication"></run>
      </application>
   </extension>

   <!-- Declares the OpenII product -->
   <extension id="org.mitre.openii.product" point="org.eclipse.core.runtime.products">
      <product application="org.mitre.openii.application" name="OpenII">
         <property name="appName" value="OpenII"></property>
      </product>
   </extension>

   <!-- Declares the OpenII perspective -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.mitre.openii.application.OpenIIPerspective" fixed="false" icon="icons/Harmony.jpg" id="OpenIIPerspective" name="OpenII"></perspective>
   </extension>
 
   <!-- Declares the OpenII views -->
   <extension id="org.mitre.openii.views" point="org.eclipse.ui.views">
      <category name="OpenII" id="Ygg"></category>
      <view name="Repositories" icon="icons/Repositories.gif" category="OpenII" class="org.mitre.openii.views.repositories.RepositoryView" id="RepositoryView"></view>
      <view name="Manager" icon="icons/Manager.gif" category="OpenII" class="org.mitre.openii.views.manager.ManagerView" id="ManagerView"></view>
      <view name="Search" icon="icons/Search.gif" category="OpenII" class="org.mitre.openii.views.SearchView" id="SearchView"></view>
   </extension>

   <!-- Declares the OpenII editors -->
   <extension point="org.eclipse.ui.editors">      
      <editor name="AboutOpenII" icon="icons/About.gif" class="org.mitre.openii.editors.help.AboutOpenIIEditor" id="AboutOpenIIEditor"></editor>
      <editor name="Schema" extensions="schema" icon="icons/Schema.gif" class="org.mitre.openii.editors.schemas.schema.SchemaView" id="SchemaView"></editor>
      <editor name="Extension Graph" extensions="schema" icon="icons/Extensions.gif" class="org.mitre.openii.editors.schemas.ExtensionGraphView" id="ExtensionGraphView"></editor>
      <editor name="M3 Model" extensions="schema" icon="icons/Schema.gif" class="org.mitre.openii.editors.schemas.M3SchemaView" id="M3SchemaView"></editor>
      <editor name="Proximity" extensions="schema" icon="icons/Harmony.gif" class="org.mitre.openii.editors.schemas.ProximityView" id="ProximityView"></editor>
   	  <editor name="Explorer" extensions="schema" icon="icons/Schema.gif" class="org.mitre.openii.editors.schemas.ExplorerView" id="ExplorerView"></editor>
      <editor name="Affinity" extensions="tag" icon="icons/Harmony.gif" class="org.mitre.openii.editors.tags.AffinityEditor" id="AffinityEditor"></editor>
   	  <editor name="Proximity" extensions="tag" icon="icons/Harmony.gif" class="org.mitre.openii.editors.tags.VennDiagramEditor" id="VennDiagramEditor"></editor>   	
      <editor name="Harmony" extensions="project" icon="icons/Harmony.gif" class="org.mitre.openii.editors.projects.HarmonyEditor" id="HarmonyEditor"></editor>
      <editor name="M3 Model" extensions="project" icon="icons/Project.gif" class="org.mitre.openii.editors.projects.M3ProjectEditor" id="M3ProjectEditor"></editor>
      <editor name="VocabView" extensions="project" icon="icons/Harmony.gif" class="org.mitre.openii.editors.projects.VocabEditor" id="VocabEditor"></editor>
      <editor name="NWayMatchView" extensions="project" icon="icons/Harmony.gif" class="org.mitre.openii.editors.projects.NWayMatchEditor" id="NWayMatchEditor"></editor>
      <editor name="Harmony" extensions="mapping" icon="icons/Harmony.gif" class="org.mitre.openii.editors.projects.HarmonyEditor" id="HarmonyEditor"></editor>
      <editor name="M3 Model" extensions="mapping" icon="icons/Mapping.gif" class="org.mitre.openii.editors.mappings.M3MappingEditor" id="M3MappingEditor"></editor>
   	  <editor name="RMap" extensions="mapping" icon="icons/RMap.gif" class="org.mitre.openii.editors.mappings.RMapEditor" id="RMapEditor"></editor>
    </extension>

   <!-- Declares the OpenII menu -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
         <menu label="OpenII" mnemonic="O" id="org.mitre.openii.menu.openii">
            <command commandId="AddRepositoryCommand" id="AddRepositoryCommand" icon="icons/Repositories.gif"></command>
            <command commandId="ExitCommand" id="ExitCommand"></command>
         </menu>
         <menu label="Help" mnemonic="H" id="org.mitre.openii.menu.help">
            <command commandId="AboutOpenIICommand" id="AboutOpenIICommand"></command>
         </menu>
      </menuContribution>
   </extension>

   <!-- Defines the OpenII commands -->
   <extension point="org.eclipse.ui.commands">
      <command name="Add Repository..." id="AddRepositoryCommand"></command>
      <command name="Exit" id="ExitCommand"></command>
      <command name="About OpenII" id="AboutOpenIICommand"></command>
   </extension>

   <!-- Defines the OpenII command handlers -->
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="AddRepositoryCommand" class="org.mitre.openii.commands.AddRepositoryCommand"></handler>
      <handler commandId="ExitCommand" class="org.mitre.openii.commands.ExitCommand"></handler>
      <handler commandId="AboutOpenIICommand" class="org.mitre.openii.commands.AboutOpenIICommand"></handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.mitre.openii.application"
            name="OpenII">
         <property
               name="appName"
               value="OpenII">
         </property>
      </product>
   </extension>

</plugin>
